<!DOCTYPE html>
<html>
  <head>
    <title>StaticPages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="display: flex; align-items: center; flex-direction: column; width: 100%;">
    <%= yield %>
  </body>
</html>
